#about{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 328px;
  position: relative;


}
#about::before {
  content: "";
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: 260px;
  background: rgba(18, 13, 13, 0.5);
  z-index: 1;
}
#about2{

  background: linear-gradient(to bottom, #151A22 20%, #242424 80%);


}
.about-block{
  position: relative;
  background: #2c384977;

height: 2183px;

width: 1359px;
margin-left: 90px;
z-index: 2;
}
.about-block2{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
 
}
.svg1{
  display: flex;
  flex-direction: column;
  width: 500px;


}
.svg2{
  display: flex;
  flex-direction: column;
  width: 500px;
}
.svg3{
  display: flex;
  flex-direction: column;
  width: 500px;
}
.svg1 button{
  font-family: "Inter",sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
padding: 10px 30px 30px 30px;
color: white;
background: #2C3849;
border: none;



}
.svg2 button{
  font-family: "Inter",sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 32px;
padding: 10px 30px 30px 30px;

letter-spacing: 0em;
text-align: left;
color: white;
background: #2C3849;
border: none;


}
.svg3 button{
  font-family: "Inter",sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 32px;
padding: 10px 30px 30px 30px;

letter-spacing: 0em;
text-align: left;
color: white;
background: #2C3849;
border: none;
}
.svg1 svg{
  margin-left: 30px;
  margin-top: 30px;
}
.svg2 svg{
  margin-left: 30px;
  margin-top: 30px;
}
.svg3 svg{
  margin-left: 30px;
  margin-top: 30px;
}
.about-block3{
  margin-left: 230px;
  margin-top: 60px;
}
.about-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.about-img img{
  margin: 40px 0 ;

}
.img-img {
  margin: 40px 0 ;
}
.about-block3 p{
  font-family: "Inter",sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #8490A4;
margin: 20px 0 ;

}
.about-block3 h2{
font-family: "Georgia",sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #FEFFFF;

}
.block-title h4{
font-family: "Inter",sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #49DCFF;
margin: 0 0 30px 0 ;

}
.block-title h6{
font-family: "Inter",sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
margin:10px 30px  ;
text-align: left;
color: #C3CEE1;
}
.block-title1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title2{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
   width: 930px;
}
.block-title2 span{
    color: #49DCFF;
    font-size: 32px;

}
.block-title3{
    display: flex;
    align-items: center;
    justify-content:space-between;

    border-bottom: 2px solid #49DCFF;
   width: 930px;

}
.block-title3 span{
    color: #49DCFF;
    font-size: 32px;

}
.block-title4{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;

}
.block-title5{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
    
}
.block-title6{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title7{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title8{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title9{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title10{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title11{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title12{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title13{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title14{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title15{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title16{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title17{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title18{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title19{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title20{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}.block-title21{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}.block-title22{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title23{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid #49DCFF;
    width: 930px;
}
.block-title4 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title5 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title6 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title7 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title8 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title9 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title10 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title11 span{
    color: #49DCFF;
    font-size: 32px;
}.block-title12 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title13 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title14 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title15 span{
    color: #49DCFF;
    font-size: 32px;
}.block-title16 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title17 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title18 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title19 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title20 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title21 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title22 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title23 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title1 span{
    color: #49DCFF;
    font-size: 32px;
}
.block-title p{
font-family: "Inter",sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #8490A4;
margin: 20px 0 ;
}
.about-block4{
  // width: 1340px;
  margin-left: 220px;
  margin-top: 60px;
}
.block5{
  margin: 40px 0;
}
.big2{
 width: 940px;
 margin-left: 220px;
 margin-top: 60px;
}
.block5-text h6{
font-family: "Inter",sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #8490A4;
margin-left: 20px;

}
.block5-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px 0 ;
}
.block5-icon h1{
  color:#49DCFF;
  font-size: 20px;
}

.block5-icon h5{
font-family: "Inter",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #8490A4;

}
.block5-text h4{
font-family: "Inter",sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}
.block5-text p{
font-family: "Inter",sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #C3CEE1;
margin: 20px 0 ;

}
.block5-text h5{ 
font-family: "Inter",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #8490A4;
}
.big2 button{
font-family: "Inter",sans-serif;
font-size: 12px;
font-weight: 500;
line-height: 56px;
letter-spacing: 0.47999998927116394px;
text-align: center;
color:#49DCFF;
background: #2C3849;
padding:0 60px;
margin-left: 400px;
border-radius: 10px;
}
.second-info-bg {
  background: #2c384977;
}
