

  .section4 {
      // padding: 50px 0 ;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  margin: 100px 0 ;

  h2 {
    font-family: Calibri;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: start;
    color: rgba(255, 255, 255, 1);
    width: 90%;
    padding: 20px 0;
  }

  .section-block {
    background: rgba(28, 35, 46, 1);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .section4-block-first {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      justify-content: flex-start;

      .block1 {
        padding: 20px 0;

        img {
          //padding-bottom: 15px;
        }

        h2 {
          font-family: Calibri sans-serif;
          font-size: 30px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(255, 255, 255, 1);
          padding: 20px 0;
        }

        h3 {
          width: 460px;
          font-family: Calibri sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(132, 144, 164, 1);

        }
      }
    }

    .section4-block-second {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: 20px 0;

      h4 {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(73, 220, 255, 1);
        width: 315px;
        padding: 20px 0;
      }

      h5 {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(132, 144, 164, 1);
      }
    }
  }
}

