.inexpensive {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .inexpensive-first {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

.inexpensive-first-inside{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

  }
}

