body {
    background-color: #f0f0f0;
}
.container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
a {
    text-decoration: none;

}

* {
    padding: 0;
    margin: 0;
}
body {
    background: rgba(36, 36, 36, 1);

}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

